* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    grid-auto-flow: column;
}

header .logo {
    padding-top: 10px;
    padding-left: 10px;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: start;
}

.logo {
    margin: auto;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    display: block;
    width: 600px;
    padding: 40px;
    font-size: 20px;
}

h1 {
    margin: 20px;
    text-align: center;
}

.choto {
    display: flex;
}

.networks {
    width: 50%;
    display: flex;
}

.networks a {
    display: block;
    margin-right: 20px;
}