* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
}

header {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    grid-auto-flow: column;
}

header .logo {
    padding-top: 10px;
    padding-left: 10px;
    height: 50px;
    display: flex;
    justify-content: end;
}

.logo {
    margin: auto;
}

.info {
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D0D7D9;
}
.info img {
    padding: 0;
    margin: 0;
    border-radius: 5px;
    border-radius: 15px;
background: #e0e0e0;
box-shadow:  33px 33px 66px #8b8b8b,
             -33px -33px 66px #ffffff;
}

.text {
    display: block;
    width: 600px;
    padding: 40px;
    font-size: 20px;
}

.top {
    font-size: 30px;
}

.bottom {
    font-size: 26px;
}

h1 {
    padding-top: 10px;
    font-size: 60px;
    color: #033E8C;
}


.choto {
    display: flex;
}

.networks {
    width: 50%;
    display: flex;
}

.networks a {
    display: block;
    margin-right: 20px;
}

a:hover {
	-webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            border-radius: 10px;
/* background: #e0e0e0; */
box-shadow:  -23px -23px 46px #cccccc,
             23px 23px 46px #f4f4f4;
            
}

section.post {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.post .post-text {
    
    padding: 20px;
    height: 60%;
    width: 60%;
    display: block;
    border-radius: 10px;
background: linear-gradient(315deg, #cacaca, #f0f0f0);
box-shadow:  -5px -5px 16px #cacaca,
             5px 5px 16px #f6f6f6;
}
h2 {font-size: 35px;}
.all-text {
    width: 60%;
    font-size: 20px;
}